<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">title</th>
      <th scope="col">content</th>
      <th scope="col">image</th>
      <th scope="col">address</th>
      <th scope="col">time</th>
      <th scope="col">isDelete</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    {{#respone}}
      <tr>
        <th scope="row"><input
            type="text"
            id="title"
            name="title"
            value="{{title}}"
          /></th>
        <td><input
            type="text"
            id="content"
            name="conten"
            value="{{content}}"
          /></td>
        <td><input type="text" id="image" name="image" value="{{image}}" /></td>
        <td><input
            type="text"
            id="address"
            name="address"
            value="{{address}}"
          /></td>
        <td><input type="text" id="time" name="time" value="{{time}}" /></td>
        <td>{{isDelete}}</td>
        <td><button
            type="button"
            onclick="deleteEvent('{{_id}}',{{isDelete}})"
          >Delete</button>
          <button type="button" onclick="updateEvent('{{_id}}')">Update</button>
          <button
            type="button"
            onclick="isDeleteEvent('{{_id}}')"
          >Trash</button>

        </td>

      </tr>
    {{/respone}}
  </tbody>
</table>

{{! <form method="post" action="/events/create">
  <label>Title</label><br />
  <input type="text" id="title" name="title" /><br />
  <label>Content</label><br />
  <input type="text" id="content" name="content" /><br />
  <label>Image</label><br />
  <input type="text" id="image" name="image" /><br />
  <label>Address</label><br />
  <input type="text" id="address" name="address" /><br />
  <label>Time</label><br />
  <input type="date" id="time" name="time" /><br />
  <button>Submit</button>
</form> }}

<div class="container-fluid px-1 py-5 mx-auto">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
      <div class="card">
        <h5 class="text-center mb-4">Create</h5>
        <form class="form-card" method="post" action="/events/create">
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">Title<span
                  class="text-danger"
                > *</span></label>
              <input type="text" id="title" name="title" placeholder="title" />
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">Content<span
                  class="text-danger"
                > *</span></label>
              <input
                type="text"
                id="content"
                name="content"
                placeholder="content"
              />
            </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">Image<span
                  class="text-danger"
                > *</span></label>
              <input type="text" id="image" name="image" placeholder="" />
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">Address<span
                  class="text-danger"
                > *</span></label>
              <input
                type="text"
                id="address"
                name="address"
                placeholder="Address"
              />
            </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">Time<span
                  class="text-danger"
                > *</span></label>
              <input type="date" id="time" name="time" placeholder="" />
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="form-group col-sm-6">
              <button
                type="submit"
                class="btn-block btn-primary"
              >Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>